h1 a{
    color: #DE781F;
}

body{
    padding-left: 25px;
    font-family:'Lato', "sans-serif";
}

.page-heder{
    background-color: #C25100;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-heder h1, .page-heder h1 a, .page-heder h1 a:visited, .page-heder h1 a:active {
    color: #ffffff;
    font-size:36pt;
    text-decoration: none;
}
.page-heder h3 {
    font-size:16pt;
}

.data {
    font-size: 8pt;
        color: #650D70;
        padding: 20px 0px 0px 0px;
}

.tresc h2 a, .tresc h2 a:visited, .tresc h2 a:active{
    color: #000000;
}
.tresc{
    padding: -20px;
}